.first{
    background-image: url(images/banner/banner2.png);
    height:809px;
    background-repeat: no-repeat ;
}
.banner1{

}
.button{
     background-color: orange;
     border-radius: 5px;
     color: white;
     padding: 10px;
}
.person{
    display: flex;
}
.person-photo{
    height: 700px; 
    width: 500px;
}
.photo-description{
    justify-content: center;
    align-items: center;
    width: 50%;
}